<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>react</title>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

    <script type="text/babel">

        // var test1 =  React.createElement(
        //     "h1", null, "테스트 문자~~~"
        // );
        // ReactDOM.render(test1, document.getElementById("container"));
    </script>
    <script type="text/babel">
        const getMessage = () => "Hello World";
        document.getElementById('output').innerHTML = getMessage();
    </script>
</head>
<body>
<div id="container"></div>
<div id="output"></div>
ㅇㅏ,,. 졸
</body>
</html>